
<!DOCTYPE html>
<html lang="en">
<head>
   @await Html.PartialAsync("MetaPartial")
   @await Html.PartialAsync("CssPartial")
</head>
<body>
    @await Html.PartialAsync("EntryFormPartial")
    @await Html.PartialAsync("ConfirmPartial")
    @RenderBody()
</body>
    
</html>
