<div class="pop_up_confirm" id="pop_up_confirm">
    <div class="pop_up_container">
        <div class="pop_up_body">
            <p>Какойто текст</p>
            <button id="pop_up_confirm_close">ОК</button>
        </div>
    </div>
</div>



