
<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <h1 class="customer_text">Мы находимся по адресу:</h1>
                <p class="footer_lorem_text">
                    Россия, Краснодарский край, г.Краснодар ул.Ленина 144
                </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h1 class="customer_text">LET US HELP YOU</h1>
                <p class="footer_lorem_text">
                    There are many variat
                    ions of passages of L
                    orem Ipsum available
                    , but the majority h
                    ave suffered altera
                    tion in some form, by
                </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h1 class="customer_text">Навигация по сайту</h1>
                <p class="footer_lorem_text1">
                    О нас<br>
                    Проэкты<br>
                    Услуги<br>
                    Отзывы<br>
                    Предложение<br>
                    Контакты
                </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h1 class="customer_text">Место для чего нибудь</h1>
                <a class="footer_lorem_text" href="@Url.Action("ResourseUsed", "Home")">
                    Нужно подумать что можно здесь разместить
                </a>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><a href="#">Subscribe</a></span>
            </div>
        </div>
    </div>
</div>
<!--  footer section end -->
