
<!-- header section start -->
<div class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo"><a href="@Url.Action("Index", "Home")"><img src="/images/logo.png"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index", "Home")>Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Services", "Home")>Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("About", "Home")>Информация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Feedback", "Home")>Портфолио</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Contact", "Home")>Контакты</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="search_icon">
                        <ul>
                            <li><a><&#9742></a></li>
                            <li><a href="#" class="ref_phone" id="ref_phone">+7 988 878 88 77</a></li>
                            <li><a href="#" class="ref_phone" id="ref_phone">+7 499 000 00 77</a></li>
                        </ul>
                    </div>
                    <div class="search_icon">
                        <ul>
                            <li><a href="#" class="btn_show_entryForm" id="btn_show_entryForm">Заказать звонок</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <!-- banner section start -->
    <div class="banner_section layout_padding">
        <div class="container">
            <div id="costum_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h1 class="furniture_text">Гарантия</h1>
                        <p class="second_text">Ремонт вашего жилища в Краснодаре и Краснодарском крае с гарантией</p>
                        <p class="there_text">Даем 100 процентную гарантию качества. Профессионализм наших специалистов, эффективные технологии и новейшие материалы обеспечивают прочность и надежность всех аспектов ремонта.</p>
                        <div class="carousel_grid_container">
                            <div class="carousel_grid_item">
                                <img src="~/images/measuring-tape.png" />
                                <p class="s_text">Выезд замерщика бесплатно.</p>
                            </div>
                            <div class="carousel_grid_item">
                                <img src="~/images/shield.png" />
                                <p class="s_text">Гарантия на ремонт 3 года.</p>
                            </div>
                            <div class ="carousel_grid_item" id="item_3">
                                <img src="~/images/offer.png" />
                                <p class="s_text">Персональные предложения.</p>
                            </div>
                        </div>
                        <div class="contact_bt_main">
                            <div class="contact_bt"><a href="@Url.Action("Contact", "Home")">Связаться с нами</a></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h1 class="furniture_text">Опыт</h1>
                        <p class="second_text">Мы занимаемся ремонтом квартир и частных домов более 8 лет </p>
                        <p class="there_text">Мы гарантируем соблюдение сроков, чтобы вы могли наслаждаться обновленной квартирой в кратчайшие сроки.</p>
                        <div class="carousel_grid_container">
                            <div class="carousel_grid_item">
                                <img src="~/images/clock.png" />
                                <p class="s_text">Прораб доступен 24/7</p>
                            </div>
                            <div class="carousel_grid_item">
                                <img src="~/images/megaphone.png" />
                                <p class="s_text">Скидки на стройматериалы.</p>
                            </div>
                            <div class="carousel_grid_item" id="item_3">
                                <img src="~/images/home.png" />
                                <p class="s_text">Соблюдаем страховые соглашения.</p>
                            </div>
                        </div>
                        <div class="contact_bt_main">
                            <div class="contact_bt"><a href="contact.html">Рассчитать стоимость</a></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h1 class="furniture_text">Доверие</h1>
                        <p class="second_text">Мы бережно относимся к вашему бюджету</p>
                        <p class="there_text"> Всегда стараемся предложить оптимальное решение для вас. Мы работаем без посредников, что позволяет нам предлагать конкурентные цены на рынке ремонтных услуг.</p>
                        <div class="carousel_grid_container">
                            <div class="carousel_grid_item">
                                <img src="~/images/file.png" />
                                <p class="s_text">Не выходим за рамки сметы.</p>
                            </div>
                            <div class="carousel_grid_item">
                                <img src="~/images/offer.png" />
                                <p class="s_text">Крутой оффер который всем интересен</p>
                            </div>
                            <div class="carousel_grid_item" id="item_3">
                                <img src="~/images/offer.png" />
                                <p class="s_text">Самый крутой оффер</p>
                            </div>
                        </div>
                        <div class="contact_bt_main">
                            <div class="contact_bt" id="btn_show_entryForm_2"><a href="#">Заказать звонок</a></div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#costum_slider" role="button" data-slide="prev">
                    <i class=""><img src="images/left-arrow.png"></i>
                </a>
                <a class="carousel-control-next" href="#costum_slider" role="button" data-slide="next">
                    <i class=""><img src="images/right-arrow.png"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- banner section end -->
</div>
<!-- header section end -->
