
        <div class="page-announce valign-wrapper"><a href="#" data-activates="slide-out" class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a><h1 class="page-announce-text valign">Клиенты</h1></div>
        <div id="posttable" class="container">
            <table class="responsive-table striped hover centered" id="names-table">
                <thead>
                    <tr>
                        <th>Username:</th>
                        <th>Date Requested:</th>
                        <th>Toon ID:</th>
                        <th>Name Requested:</th>
                        <th>Name Actions:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a>MeredithPalmer</a></td>
                        <td><a>2017-03-30</a></td>
                        <td><a>1000016</a></td>
                        <td><a>Ticking Time Bags</a></td>
                        <td>
                            <div class="btn-toolbar">
                                <a href="#">
                                    <button class="btn green" type="submit">
                                        <i class="material-icons">done</i>
                                    </button>
                                </a>
                                <a href="#">
                                    <button class="btn red" type="submit">
                                        <i class="material-icons">remove</i>
                                    </button>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a>OscarMartinez</a></td>
                        <td><a>2017-03-30</a></td>
                        <td><a>1000017</a></td>
                        <td><a>Aggregious</a></td>
                        <td>
                            <div class="btn-toolbar">
                                <a href="#">
                                    <button class="btn green" type="submit">
                                        <i class="material-icons">done</i>
                                    </button>
                                </a>
                                <a href="#">
                                    <button class="btn red" type="submit">
                                        <i class="material-icons">remove</i>
                                    </button>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
