<div class="page-announce valign-wrapper"><a href="#" data-activates="slide-out" class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a><h1 class="page-announce-text valign">Обратная связь</h1></div>
<div id="posttable" class="container">
    <div class="custom-responsive">
        <table class="striped hover centered">
            <thead>
                <tr>
                    <th>Username:</th>
                    <th>Date Posted:</th>
                    <th>Comment Posted:</th>
                    <th>Post Commented On</th>
                    <th>Comment Actions:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a>CreedBratton</a></td>
                    <td><a>2017-03-30</a></td>
                    <td><a>"What is wrong with this woman? She's asking about stuff that's nobody's business. 'What do I do?'... Really, what do I do here? I should've written it down. "Qua" something, uh... qua... quar... quibo, qual...quir-quabity. Quabity assuance! No. No, no, no, no, but I'm getting close."</a></td>
                    <td><a>New Update blog</a></td>
                    <td>
                        <div class="btn-toolbar">
                            <a href="#">
                                <button class="btn green" type="submit" value="Accept">
                                    <i class="material-icons">done</i>
                                </button>
                            </a>
                            <a href="#">
                                <button class="btn red" type="submit" value="Reject">
                                    <i class="material-icons">remove</i>
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a>AngelaMartin</a></td>
                    <td><a>2017-03-30</a></td>
                    <td><a>"I heard a joke today."</a></td>
                    <td><a>New Update blog</a></td>
                    <td>
                        <div class="btn-toolbar">
                            <a href="#">
                                <button class="btn green" type="submit" value="Accept">
                                    <i class="material-icons">done</i>
                                </button>
                            </a>
                            <a href="#">
                                <button class="btn red" type="submit" value="Reject">
                                    <i class="material-icons">remove</i>
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a>DwightSchrute</a></td>
                    <td><a>2017-03-30</a></td>
                    <td><a>"That's funny."</a></td>
                    <td><a>New Update blog</a></td>
                    <td>
                        <div class="btn-toolbar">
                            <a href="#">
                                <button class="btn green" type="submit" value="Accept">
                                    <i class="material-icons">done</i>
                                </button>
                            </a>
                            <a href="#">
                                <button class="btn red" type="submit" value="Reject">
                                    <i class="material-icons">remove</i>
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a>AngelaMartin</a></td>
                    <td><a>2017-03-30</a></td>
                    <td><a>"Yes, it was."</a></td>
                    <td><a>New Update blog</a></td>
                    <td>
                        <div class="btn-toolbar">
                            <a href="#">
                                <button class="btn green" type="submit" value="Accept">
                                    <i class="material-icons">done</i>
                                </button>
                            </a>
                            <a href="#">
                                <button class="btn red" type="submit" value="Reject">
                                    <i class="material-icons">remove</i>
                                </button>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>