<div class="page-announce valign-wrapper"><a href="#" data-activates="slide-out" class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a><h1 class="page-announce-text valign">Список услуг</h1></div>
<div class="container">
    <div class="custom-responsive">
        <table class="centered striped hover">
            <thead>
                <tr>
                    <th>Text</th>
                    <th>Active?</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>""You miss 100% of the shots you don't take" - Wayne Gretsky" - Michael Scott</td>
                    <td><i class="material-icons">check</i></td>
                    <td>
                        <div class="btn red">
                            <a href="#" style="color: #fff;">revoke</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>"Do you think smoking drugs is cool? Do you think doing alcohol is cool?"</td>
                    <td><i class="material-icons">check</i></td>
                    <td>
                        <div class="btn red">
                            <a href="#" style="color: #fff;">revoke</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>"Wanna hear a joke? I think you're great. You're my best friend."</td>
                    <td><i class="material-icons">check</i></td>
                    <td>
                        <div class="btn red">
                            <a href="#" style="color: #fff;">revoke</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>