@*@using VartanMVCv2.Controllers;
*@

<!-- services section start -->
<div class="services_section layout_padding">
    <div class="container">
        <h1 class="services_taital">Наши преимущества</h1>
        <p class="many_taital">Наша компания - это команда профессионалов ремонта, которые имеют богатый опыт в данной отрасли. Мы сильны в следующих аспектах:</p>
        <div class="services_section2 layout_padding">
            <div class="row" id="row_about">
                <div class="col-lg-3 col-sm-6">
                    <div class="icon_1"><img src="~/images/icon1.png"></div>
                    <h2 class="furnitures_text">Комплексный подход: </h2>
                    <p class="dummy_text">
                        Мы предоставляем полный комплекс услуг по ремонту квартир &quot;под ключ&quot;, 
                        включая дизайн-проект, выбор отделочных материалов, сантехнические работы, 
                        электромонтажные работы, монтаж мебели, чистовую отделку и т.д.
                    </p>
                    @*<div class="read_bt_main">
                        <div class="read_bt"><a href="#">Подробнее</a></div>
                    </div>*@
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="icon_1"><img src="~/images/icon2.png"></div>
                    <h2 class="furnitures_text">Качество работ: </h2>
                    <p class="dummy_text">
                        Мы гарантируем высокое качество проведенных работ 
                        и используем только проверенные и качественные материалы.
                    </p>
                   @*<div class="read_bt_main">
                        <div class="read_bt"><a href="#">Подробнее</a></div>
                    </div>*@ 
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="icon_1"><img src="~/images/icon3.png"></div>
                    <h2 class="furnitures_text">Соблюдение сроков:</h2>
                    <p class="dummy_text">
                        Мы понимаем, что для вас время - деньги,
                        поэтому всегда соблюдаем сроки выполнения работ, чтобы вы могли наслаждаться обновленной квартирой в кратчайшие сроки.
                    </p>
                   @*<div class="read_bt_main">
                        <div class="read_bt"><a href="#">Подробнее</a></div>
                    </div>*@
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="icon_1"><img src="~/images/icon4.png"></div>
                    <h2 class="furnitures_text">Индивидуальный подход:</h2>
                    <p class="dummy_text">
                        Мы учитываем ваши пожелания и потребности и разрабатываем индивидуальный дизайн-проект, который будет отражать вашу индивидуальность и стиль.
                    </p>
                   @*<div class="read_bt_main">
                        <div class="read_bt"><a href="#">Подробнее</a></div>
                    </div>*@ 
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="icon_1"><img src="~/images/icon5.png"></div>
                    <h2 class="furnitures_text">Конкурентные цены:</h2>
                    <p class="dummy_text">
                        Мы работаем без посредников, что позволяет нам предлагать конкурентные цены на рынке ремонтных услуг.
                    </p>
                    @*<div class="read_bt_main">
                    <div class="read_bt"><a href="#">Подробнее</a></div>
                    </div>*@
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="icon_1"><img src="~/images/icon6.png"></div>
                    <h2 class="furnitures_text">Профессионализм:</h2>
                    <p class="dummy_text">
                        Наша команда состоит из профессионалов, которые имеют богатый опыт в данной отрасли и готовы решать любые проблемы, связанные с ремонтом квартир.
                    </p>
                    @*<div class="read_bt_main">
                    <div class="read_bt"><a href="#">Подробнее</a></div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- services section end -->
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="about_text">О компании</h1>
                <p class="lorem_text">Компания «RENOVO» – строительная компания с большим опытом в ремонтных работах, гарантия качества и профессионализм штата сотрудников. Дизайнеры интерьера помогут переосмыслить зонирование вашей квартиры и создать еще более комфортные условия для жизни, а строители реализуют их смелые идеи точно так, как задумано.</p>
                <div class="read_bt1"><a href="@Url.Action("About","Home")">Подробнее</a> </div>
            </div>
            <div class="col-md-6">
                <div class="image_1"><img src="~/images/img1.png"></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->
