@model ErrorViewModel

@{
    var exception = Model.Exception;
}

<style>
    h1 {
        margin:1em;
    }

    h2{
        margin:1em;
    }

    pre{
        margin:1em;
    }

</style>

<h1>Произошла ошибка</h1>
@if (exception == null)
{
    <pre>@Model.Errors</pre>
}
else
{
    <pre>@exception.Message</pre>
    <h2>Перезагрузите страницу и попробуйте еще раз</h2>
    
}
