@await Html.PartialAsync("HeaderWithoutSliderPartial")
@await Html.PartialAsync("~/Views/Shared/Section/AboutSectionPartial.cshtml")
@await Html.PartialAsync("FooterPartial")
<!-- copyright section start -->
<div class="copyright_section" />
<div class="container">
    @await Html.PartialAsync("AutorPartial")
</div>
<!-- copyright section end -->
@await Html.PartialAsync("ScriptsPartial")