<!-- header section start -->
<div class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo"><a href="@Url.Action("Index", "Home")"><img src="/images/logo.png"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index", "Home")>Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Services", "Home")>Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("About", "Home")>Информация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Feedback", "Home")>Портфолио</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Contact", "Home")>Контакты</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- header section end -->
<!-- services section start -->
<div class="confirm_container">

    <h6 class="furnitures_text" id="confirm_head_text">Спасибо за оставленный отзыв</h6>
    <h1 class="dummy_text" id="confirm_text">Ваше мнение очень важно для нас!</h1>
    <div class="">
        <iframe src="https://yandex.ru/sprav/widget/rating-badge/103752062896?type=rating&theme=dark" width="150" height="50" frameborder="0"></iframe>
    </div>
</div>




<!-- services section end -->
@await Html.PartialAsync("FooterPartial")
<!-- copyright section start -->
<div class="copyright_section" />
<div class="container">
    @await Html.PartialAsync("AutorPartial")
</div>
<!-- copyright section end -->
@await Html.PartialAsync("ScriptsPartial")
