    @using VartanMVCv2.Domain.Entities
    @using VartanMVCv2.ViewModels
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@functions {

    bool IsDevice()
    {
        string? userAgent;
        bool isMobileDevice = false;
        if (HttpContextAccessor.HttpContext != null)
        {
            userAgent = HttpContextAccessor.HttpContext.Request.Headers["User-Agent"].ToString();
            isMobileDevice = userAgent.Contains("Mobile", StringComparison.OrdinalIgnoreCase);
        }
        return isMobileDevice;
    }

}

@await Html.PartialAsync("HeaderPartial")

<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="about_text">О компании</h1>
                <p class="lorem_text text-with-background-black"><strong>Компания «@Config.CompanyName»</strong> стабильно работает на рынке строительных и ремонтных услуг с 2011 года.</p>
                <p class="lorem_text text-with-background-black">Сдано более чем 700 объектов</p>
                <p class="lorem_text text-with-background-black">Охватываем весь спектр ремонтных и строительных услуг</p>
                <div class="read_bt1"><a href="@Url.Action("About","Home")">Подробнее</a> </div>
            </div>
            <div class="col-md-6">
                <div class="image_1"><img src="~/images/img1.png"></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->


@await Html.PartialAsync("~/Views/Shared/Section/ServicesSectionPartial.cshtml")
<!-- who section start -->
<div class="who_section layout_padding">
    <div class="container innav">
        <h1 class="who_taital">Почему мы?</h1>
        <h4 class="designer_text">с нами вы гарантированно получаете:</h4>
        <p class="lorem_ipsum_text">-<strong><span style="font-size: 1.2em;">БЕСПЛАТНЫЙ</span></strong> замер и консультация специалиста</p>
        <p class="lorem_ipsum_text">-При заказе любого ремонта у нас, вы можете приобрести любые стройматериалы у наших партнеров со скидкой до <strong><span style="font-size: 1.2em;">30%</span></strong></p>
        <p class="lorem_ipsum_text">-Полный расчет стоимости ремонта в течении 1 рабочего дня. В дальнейшем эта сумма остается неизменной.</p>
        <p class="lorem_ipsum_text">-Связь с прорабом и отчеты о проделанной работе в <strong><span style="font-size: 1.2em;">ЛЮБОЕ ВРЕМЯ</span></strong></p>
        <p class="lorem_ipsum_text">-<strong><span style="font-size: 1.2em;">При заказе комплексных услуг действуют персональные скидки</span></strong></p>
    </div>
    <div class="get_bt_main">
        @if (IsDevice())
        {
            <div class="get_bt"><a href="tel:@Config.CompanyPhoneShort">Заказать замер</a></div>
        }
        else
        {
            <div class="get_bt"><a href="@Url.Action("Contact", "Home")">Заказать замер</a></div>
        }

    </div>
</div>
<!-- who section end -->
@await Html.PartialAsync("~/Views/Shared/FeedbackFormPartial.cshtml")
@await Html.PartialAsync("~/Views/Shared/Section/FeedbackSectionPartial.cshtml")
@await Html.PartialAsync("~/Views/Shared/Section/ContactSectionPartial.cshtml")
@await Html.PartialAsync("FooterPartial")
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        @await Html.PartialAsync("AutorPartial")
    </div>
</div>
<!-- copyright section end -->
<div id="mobilePanel" class="mobile-panel">
    <a href="tel:@Config.CompanyPhoneShort"><img src="/images/free-icon-phone-call-5400769.png" alt="Позвонить"></a>
    <a href="https://wa.me/@Config.CompanyPhoneShort"><img src="/images/free-icon-whatsapp-4494494.png" alt="WhatsApp"></a>
    <a href="https://t.me/@Config.CompanyPhoneShort"><img src="/images/free-icon-telegram-3670070.png" alt="Telegram"></a>
</div>
<script>
    window.onload = function () {
        var userAgent = navigator.userAgent.toLowerCase();
        var isMobile = /android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(userAgent);

        if (isMobile) {
            document.getElementById('mobilePanel').style.display = 'block';
        }
    };
</script>

@await Html.PartialAsync("ScriptsPartial")
