    @using VartanMVCv2.Domain.Entities
    @using VartanMVCv2.ViewModels

    @await Html.PartialAsync("HeaderPartial")
    @await Html.PartialAsync("~/Views/Shared/Section/AboutSectionPartial.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Section/ServicesSectionPartial.cshtml")
    <!-- who section start -->
    <div class="who_section layout_padding">
        <div class="container">
            <h1 class="who_taital">Почему мы?</h1>
            <h4 class="designer_text">Дизайнеры и инноваторы</h4>
            <p class="lorem_ipsum_text">
            Мы знаем, что ремонт – это сложный и ответственный процесс, поэтому наша команда состоит из профессионалов, которые имеют богатый опыт в данной отрасли. Мы гарантируем высокое качество работ и соблюдение сроков, чтобы вы могли наслаждаться обновленной квартирой в кратчайшие сроки.
            Мы предлагаем полный комплекс услуг: от дизайн-проекта до чистовой отделки. Наши дизайнеры разработают индивидуальный проект, учитывая ваши пожелания и потребности. Мы предлагаем широкий выбор отделочных материалов высокого качества и современного дизайна.
            Мы бережно относимся к вашему бюджету и всегда стараемся предложить оптимальное решение для вас. Мы работаем без посредников, что позволяет нам предлагать конкурентные цены на рынке ремонтных услуг.
            Выбирая нашу компанию, вы можете быть уверены в том, что ваш ремонт будет выполнен профессионально, качественно и в срок. Мы готовы воплотить в жизнь ваши мечты об уютной и красивой квартире! Обращайтесь к нам и получите бесплатную консультацию по всем вопросам ремонта квартир "под ключ".
            </p>
        </div>
        <div class="get_bt_main">
        <div class="get_bt"><a href="@Url.Action("Contact", "Home")">Заказать замер</a></div>
        </div>
    </div>
    <!-- who section end -->
    @await Html.PartialAsync("~/Views/Shared/Section/FeedbackSectionPartial.cshtml") 
    @await Html.PartialAsync("~/Views/Shared/Section/ContactSectionPartial.cshtml")
    @await Html.PartialAsync("FooterPartial")
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            @await Html.PartialAsync("AutorPartial")
        </div>
    </div>
    <!-- copyright section end -->
    @await Html.PartialAsync("ScriptsPartial")
