@await Html.PartialAsync("HeaderWithoutSliderPartial")
<!-- services section start -->
<h6 class="furnitures_text">Ошибка 404</h6>
<h1 class="dummy_text">Страница не найдена</h1>
                    
<!-- services section end -->
@await Html.PartialAsync("FooterPartial")
<!-- copyright section start -->
<div class="copyright_section" />
<div class="container">
    @await Html.PartialAsync("AutorPartial")
</div>
<!-- copyright section end -->
@await Html.PartialAsync("ScriptsPartial")
